body {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	margin:0;
	font-size:14px;
	background:#fff;
	font-family: 'Poppins', sans-serif;
}
a,
a:hover,
a:focus {
	outline:none;
	text-decoration:none;
}
ul {
	margin:0 0 0 0;
	padding:0 0 0 0;
}
ul li {
	list-style:none;	
}

h1 {
    color: #242426;
    font-size: 62px;
    font-weight: 600;
    line-height: 78.2px;
    margin: 0;
    padding: 0;
}
h2 {
    color: #313131;
    font-size: 50px;
    font-weight: 600;
    line-height: 59px;
    letter-spacing: 0em;
    margin: 0;
    padding: 0;
}
h3 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0px;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
}
.container {
	max-width: 1185px;
	width: 100%;
	margin: 0 auto;
}
/*------------------------------------- 
		    Menu Section
--------------------------------------- */

header {
    background-color: #F8FBFB;
	padding: 11px 0;
    width: 100%;
}
.logo img {
    max-width: 300px;
    width: 100%;
}
.menu {
    display: inline-block;
}
.menu-outer {
    text-align: right;
    padding-top: 22px;
}
.menu ul {
    text-align: right;
    width: 100%;
    margin-bottom: 0;
    margin-top: 15px;
}
.menu ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 48px;
}
.menu ul li a {
    color: #010101;
    font-size: 16px;
    font-weight: 400;
	font-family: 'Poppins', sans-serif;
    line-height: 24px;
    letter-spacing: -0.15;
    text-decoration: none;
    outline: none;
    transition: all .5s ease-in-out;
}
.menu ul li a:hover,
.menu ul li a:focus {
    color: #285e80;
    transition: all .5s ease-in-out;
}
.menu ul li.active a {
    color: #285e80;
}
.contact {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}
.contact-btn,
.contact-btn:hover,
.contact-btn:focus {
    background: linear-gradient(90deg, #00B0C6 -13.32%, #356AF3 105.84%);
    border-radius: 13px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 39px;
    padding-top: 5px;
    text-align: center;
    width: 156px;
    height: 49px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.web-menu {
	display: block;
}
/*------------------------------------- 
		   Mob Menu Section
--------------------------------------- */

.mob-menu {
	display: none;
}
.mobile-header-nav {
	background-color: #fff;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 115px;
	left: 0;
	width: 100%;
    z-index: 1000;
	box-shadow: 0px 9px 11px 0px rgba(0,0,0,0.30);
	-webkit-box-shadow: 0px 9px 11px 0px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 9px 11px 0px rgba(0,0,0,0.30);
}
.mobile-header-nav li a {
	color: #000;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
    background-color: #fff;
	font-weight: 400;
	display: block;
	padding: 15px 0 15px 15px;
	text-align: left;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
.mob-menu .contact {
    margin-left: 15px;
}
.mob-menu .contact-btn,
.mob-menu .contact-btn:hover,
.mob-menu .contact-btn:focus {
    background: linear-gradient(90deg, #00B0C6 -13.32%, #356AF3 105.84%);
    border-radius: 13px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 39px;
    padding: 5px 0 0 0;
    text-align: center;
    width: 156px;
    height: 49px;
    margin: 10px 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.mobile-header-nav li a:hover {
	background-color: #fff;
	color: #285e80;
}
.hamburger-menu {
	display: inline-block;
	height: 100px;
	padding: 0;
	transition: all 0.3s ease-in-out;
	position: absolute;
	right: 20px;
	top: 40px;
	height: auto;
}
.hamburger-menu:hover {
	cursor: pointer;
}
.hamburger-menu .menu-item {
	background: #285e80;
	display: block;
	height: 3px;
	margin: 0 0 10px;
	transition: all 0.3s ease-in-out;
	width: 40px;
}
.hamburger-menu.open .menu-item {
	margin: 0 0 5px;
}
.hamburger-menu.open .menu-item:first-child {
	transform: rotate(45deg);
	transform-origin: 10px;
}
.hamburger-menu.open .menu-item:nth-child(2) {
	opacity: 0;
}
.hamburger-menu.open .menu-item:nth-child(3) {
	transform: rotate(-45deg);
	transform-origin: 8px;
}
/*------------------------------------- 
		    Banner Section
--------------------------------------- */
.banner-section {
    background-color: #F8FBFB;
    padding: 130px 0 150px;
    position: relative;
}
.banner-section::before {
    background-image: url(../images/border.png);
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 706px;
    z-index: 100;
    background-size: 100%;
    background-repeat: no-repeat;
}
.banner-section p {
    color: #313131;
    font-size: 19px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    margin-top: 26px;
    text-align: left;
    position: relative;
    z-index: 110;
}
.banner-hero img {
    width: 100%;
    position: relative;
    z-index: 110;
}
.banner-btn {
    background: linear-gradient(90deg, #FFDB00 -13.32%, #FF8900 105.84%);
    border-radius: 18px;
    border: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 50px;
    width: 214px;
    height: 61px;
    position: relative;
    z-index: 110;
    display: inline-block;
}
.banner-bottom {
    background-color: #fff;
    padding: 50px 0 0;
}
.banner-bottom .botton-content {
    position: relative;
    z-index: 200;
}
.botton-content {
    border: #F3F3F3 solid 1px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
}
.icon, .text {
    display: inline-block;
    vertical-align: middle;
}
.text {
    margin-left: 24px;
}
.text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    letter-spacing: 0.4180000126361847px;
    text-align: left;
}
.text small {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.4180000126361847px;
    text-align: left;
}

/*------------------------------------------------------------- 
					Traders Section
--------------------------------------------------------------- */

.traders {
    background-image: url(../images/bg.png);
    background-position: 93% bottom;
    background-repeat: no-repeat;
    background-size: 585px;
    padding: 150px 0;
}
.mob-img {
    display: none;
}
.traders h5 {
    font-size: 19px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 40px 0 40px;
}

/*------------------------------------------------------------- 
					Pro Traders Section
--------------------------------------------------------------- */

.pro-trader {
    background: linear-gradient(90deg, #00B0C6 -13.32%, #356AF3 105.84%);
    padding: 105px 0;
    overflow: hidden;
    position: relative;
}
.pro-trader::before {
    background-image: url(../images/Ellipse1.png);
    width: 373px;
    height: 373px;
    position: absolute;
    content: '';
    right: 6%;
    top: -188px;
}
.pro-trader::after {
    background-image: url(../images/Ellipse6.png);
    background-repeat: no-repeat;
    width: 164px;
    height: 247px;
    position: absolute;
    content: '';
    right: 0;
    top: 32%;
}
.pro-trader p {
    color: #FFFFFF;
    margin: 34px 0 50px;
}
.membership {
    background-color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    position: relative;
    margin-top: 58px;
    height: 93%;
}
.membership h4 {
    color: #2F2F2F;
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0px;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
.membership h4::after {
    background-color: #EDEDED;
    content: '';
    width: 49px;
    height: 4px;
    border-radius: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
}
.award {
    margin: -37px auto 0;
}
.membership ul {
    text-align: left;
    margin: 33px 35px 0;
}
.membership ul li {
    background-image: url(../images/list.png);
    background-position: left 11px;
    padding-left: 22px;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
}
.hide {
    margin-bottom: 0 !important;
}
.price-btn ,
.price-btn:hover,
.price-btn:focus {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, #FFDB00 -13.32%, #FF8900 105.84%);
    border-radius: 0px 0px 30px 30px;
    height: 81px;
    width: 100%;
    padding-top: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
    color: #FFFFFF;
}
.service-img {
    text-align: right;
    padding-right: 50px;
    padding-bottom: 60px;
}

.service .botton-content{
    margin-bottom: 30px;
}
.service .text {
    display: inline-block;
}
.service .text p {
    color: #474747;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0;
    padding: 0;
} 

/*------------------------------------------------------------- 
					Testimonials Section
--------------------------------------------------------------- */

.testimonials {
    background-color: #FBFBFB;
    padding: 147px 0 135px;
}
.testi {
    background-color: #E3F8FA;
    text-transform: uppercase;
    border-radius: 11px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: center;
    margin: 53px 0 22px;
    padding-top: 12px;
    width: 166px;
    height: 37px;
}
.testimonials h3 {
    font-size: 38px;
    color: #16252E;
}
.testimonials p {
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 30px 0 0;
}
.explore-btn,
.explore-btn:hover,
.explore-btn:focus {
    background: linear-gradient(90deg, #00B0C6 -13.32%, #356AF3 105.84%);
    color: #FFFFFF;
    height: 49px;
    width: 190px;
    border-radius: 13px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 39px;
    margin-top: 55px;
    letter-spacing: 0.01em;
    text-align: center;
}
.testimonials-slide ul {
    margin: 0;
    text-align: left;
}
.testimonials-slide ul li {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(209, 209, 209, 0.28);
    border-radius: 20px;
    padding: 31px;
    margin-bottom: 27px;
}
.testimonials-slide p {
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.17599999904632568px;
    text-align: left;
    margin: 0 0 27px 0;
}
.testimonials-slide .text {
    margin-left: 15px;
}
.testimonials-slide .text p {
    color: #16252E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.17599999904632568px;
    text-align: left;
    margin: 0;
}

/*------------------------------------------------------------- 
			        Start Trading Section
--------------------------------------------------------------- */

.start-trade {
    background-color: #fff;
    padding: 127px 0 152px;
}
.trade-content {
    background: linear-gradient(111.16deg, #FC573B 43.12%, #FF8900 93.26%);
    border-radius: 48px;
    padding: 82px 60px;
    position: relative;
}
.trade-content::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -145px;
    background-image: url(../images/home7-img-3.png);
    width: 329px;
    height: 857px;
}
.man-img {
    display: none;
}
.trade-txt {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.17599999904632568px;
    text-align: left; 
    margin-top: 56px;  
    width: 80%; 
}
.btm-space {
    margin-top: 30px;
    margin-bottom: 20px;
}
.top {
    width: 100% !important;
    margin-top: 18px !important; 
}
.enroll,
.enroll:hover,
.enroll:focus {
    background-color: #FFFFFF;
    color: #FE7C0F;
    display: inline-block;
    height: 49px;
    width: 275px;
    margin-top: 20px;
    border-radius: 13px;
    font-size: 16px;
    font-weight: 600;
    line-height: 39px;
    padding-top: 5px;
    letter-spacing: 0.01em;
    text-align: center;
}

/*------------------------------------------------------------- 
					Contact Section
--------------------------------------------------------------- */

.contact-wrap {
    background-color: #2D2D2D;
    padding: 149px 0 180px;
}
.contact-wrap ul {
    margin: 55px 0 0;
}
.contact-wrap ul li {
    background-position: left 0px;
    background-repeat: no-repeat;
    display: inline;
    vertical-align: top;
    padding: 12px 0 10px 57px;
    line-height: 54px;
    vertical-align: top;
    margin-right: 30px;
}
.star {
    width: 182px;
}
.phone {
    background-image: url(../images/phone.png);
}
.mail {
    background-image: url(../images/mail.png);
}
.contact-wrap ul li a,
.contact-wrap ul li a:hover,
.contact-wrap ul li a:focus {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
}
.contact-wrap-right {
    text-align: right;
    margin-top: 50px;
}
.title {
    color: #FFFFFF;
    font-size: 74px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0.7699999809265137px;    
}
.contact-wrap p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.17599999904632568px;
    margin-top: 20px;
}

/*------------------------------------------------------------- 
					Footer Section
--------------------------------------------------------------- */

footer {
    background-color: #141414;
}
footer p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0px;
    text-align: left;
    margin: 20px 0;
}
.footer-menu {
    text-align: right;
}
.footer-menu li {
    display: inline-block;
    vertical-align: top;
    padding: 36px 0;
    margin-right: 48px ;
}
.footer-menu li:last-child {
    padding: 0;
    margin-right: 0;
}
.footer-menu li:last-child a,
.footer-menu li:last-child a:hover,
.footer-menu li:last-child a:focus {
    background-color: #356AF3;
    padding: 32px 20px;
    display: inline-block;
}
.footer-menu li a {
    color: #818181;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.1454544961452484px;
    transition: all .3s ease-in-out;
}
.footer-menu li a:hover,
.footer-menu li a:focus {
    color: #285e80;
    transition: all .3s ease-in-out;
}
/*------------------------------------------------------------- 
					Reaponsive Section
--------------------------------------------------------------- */
@media screen and (max-width: 1600px) {
    .banner-section::before {
        bottom: -124px;
        height: 778px;
    }
}
@media screen and (max-width: 1500px) {
    .banner-section::before {
        bottom: -195px;
    }
}
@media screen and (max-width: 1400px) {
    .banner-section::before {
        bottom: -206px;
    }
}
@media screen and (max-width: 1300px) {
    .banner-section::before {
        bottom: -264px;
    }
}
@media screen and (max-width: 1200px) {
    .banner-section::before {
        bottom: -338px;
        height: 805px;
    }
}

@media screen and (max-width: 1100px) {
.menu ul li {
    margin-right: 30px;
}
.contact {
    margin-left: 0;
}
h1 {
    font-size: 56px;
    line-height: 70.2px;
}
.text small {
    font-size: 14px;
}
.banner-section::before {
    bottom: -428px;
    height: 805px;
}
h2 {
    font-size: 46px;
}
.service .botton-content {
    padding: 15px;
}
.service .text {
    margin-left: 15px;
}
.service .text p {
    font-size: 13px;
}
.service .icon img {
    width: 40px;
}
.trade-content h3 {
    font-size: 36px;
    line-height: 53px;
}
footer p {
    font-size: 13px;
}
}

@media screen and (max-width: 992px) {
    .web-menu {
        display: none;
    }
    
    .mob-menu {
        display: block;
    }  
    .banner-section {
        padding: 53px 0 70px;
    }
    .icon img {
        width: 40px;
    }
    .botton-content {
        padding: 15px;
    }
    .text {
        margin-left: 15px;
    }
    .text p {
        font-size: 20px;
    }
    .text small {
        font-size: 13px;
    }
    .traders {
        background-position: 96% bottom;
        background-size: 429px;
        padding: 75px 0;
    }
    .banner-section::before {
        bottom: -67px;
        height: 451px;
    }
    .enroll, .enroll:hover, .enroll:focus {
        width: 220px;
    }
    .man-img {
        display: block;
    }
    .trade-content::after {
        display: none;
    }
    .trade-content .col-md-4 {
        width: 100%;
    }
    .membership ul li {
        font-size: 14px;
        line-height: 25px;
        background-position: left 7px;
    }
    .service-img img {
        width: 90%;
    }
    .membership {
        height: 100%;
    }
    .membership ul {
        text-align: left;
        margin: 33px 25px 0;
    }
    .contact-wrap .col-md-8,
    .contact-wrap .col-md-4 {
        width: 100%;
    }
    .contact-wrap-right {
        text-align: left;
    }
    .contact-wrap {
        padding: 70px 0 75px;
    }
    footer .col-md-6 {
        width: 100%;
    }
    footer p {
        text-align: center;
        line-height: normal;
    }
    .footer-menu {
        text-align: center;
    }
    .footer-menu li {
        padding: 15px 0;
    }
    .footer-menu li:last-child a, .footer-menu li:last-child a:hover, .footer-menu li:last-child a:focus {
        background-color: #356AF3;
        padding: 10px 20px;
        display: inline-block;
    }
    .footer-menu li:last-child {
        padding: 0;
        margin-right: 0;
        position: absolute;
        right: 0;
    }
}
@media screen and (max-width: 768px) {
    .banner-bottom .botton-content {
        margin-bottom: 20px;
    }
    .icon img {
        width: 50px;
    }
    .text small {
        font-size: 15px;
    }
    .mob-img {
        display: block;
    }
    .mob-img img {
        width: 100%;
    }
    .traders {
        background-image: none;
        padding: 75px 0 0;
    }
    .membership ul {
        margin: 33px 25px 40px;
        display: inline-block;
    }
    .service-img {
        margin-top: 100px;
    }
    .service .icon img {
        width: 50px;
    }
    .service .text p {
        font-size: 15px;
    }
    .hide {
        margin-bottom: 30px !important;
    }
    .pro-trader::after {
        width: 69px;
        top: 54%;
    }
    .explore-btn, .explore-btn:hover, .explore-btn:focus {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 47px;
        line-height: 53px;
    }
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 36px;
    }
}

@media screen and (max-width: 500px) {
    h3 {
        font-size: 34px;
        line-height: 42px;
    }
    .man-img img{
        width: 100%;
    }
    .footer-menu li a {
        font-size: 13px;
    }
    .footer-menu li {
        margin-right: 24px;
    }
    .contact-wrap ul li a, .contact-wrap ul li a:hover, .contact-wrap ul li a:focus {
        font-size: 22px;
    }
    .contact-wrap ul li {
        margin-right: 0;
    }
}
@media screen and (max-width: 400px) {
    .logo img {
        max-width: 210px;
        width: 100%;
    }
    .mobile-header-nav {
        top: 96px;
    }
    h1 {
        font-size: 43px;
        line-height: 53px;
    }
    h2 {
        font-size: 34px;
        line-height: 50px;
    }
    h3 {
        font-size: 30px;
        line-height: 42px;
    }
    .banner-section p {
        font-size: 15px;
        line-height: 30px;
    }
    .banner-btn {
        border-radius: 12px;
        font-size: 16px;
        width: 160px;
        height: 44px;
    }
    .trade-content h3 {
        font-size: 30px;
        line-height: 39px;
    }
    .contact-wrap ul li a, .contact-wrap ul li a:hover, .contact-wrap ul li a:focus {
        font-size: 16px;
    }
    .contact-wrap ul li {
        background-position: left 8px;
        padding: 12px 0 10px 43px;
        background-size: 30px;
    }
    p {
        font-size: 14px;
        line-height: 27px;
    }
    .membership h4 {
        font-size: 25px;
    }
    .service-img img {
        width: 100%;
    }
    .service-img {
        padding-right: 0;
    }
    .testimonials {
        padding: 85px 0 85px;
    } 
    .trade-content {
        border-radius: 48px;
        padding: 75px 20px;
    }
    .footer-menu li:last-child a, .footer-menu li:last-child a:hover, .footer-menu li:last-child a:focus {
        background-color: #356AF3;
        padding: 10px 7px;
        display: inline-block;
    }
    .trade-content img {
        width: 70%;
        margin: 0 auto;
    }
    .footer-menu li {
        margin-right: 11px;
    }
}